/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-8-3, 14:55:35
    Author     : wm
*/
#regulation_summary{
    width: 700px;
    resize: none;
}
#regulation_body{
    width: 700px;
    resize: none;
}
.laydate_box, .laydate_box * {
box-sizing:content-box;
}