/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-7-28, 16:10:50
    Author     : wm
*/
.information{
    overflow: hidden;
    clear: both;
    border: 1px solid #EBEBEB;
    width: 1100px;
    margin: 0 auto;
    background: #FEFEFE;
    margin-bottom: 50px;
    margin-top: 40px;
    padding: 20px 15px; 
}
.left{
    width: 165px;
    float: left;
    height: auto;
    overflow: hidden;
    border: 1px solid #EBEBEB;
    padding: 10px 5px;
}
.left .list{
    width: 140px;
    height: 14px;
    padding: 8px 10px;
    border: 1px solid #EBEBEB;
    background:#F2F2F2;
    margin-bottom: 5px;
    line-height: 1;
}
.triangle{
    width: 0;
    height: 0 !important;
    border-top: 5px solid transparent;
    border-left: 5px solid #035AB7;
    border-bottom: 5px solid transparent;
    content: "";
    float: left;
    margin-top: 3px;
}
.left .list a{
    color: #010101;
}
.right{
    width: 850px;
    padding: 0 20px;
    height: auto;
    overflow: hidden;
    border: 1px solid #EBEBEB;

}
.right .top{
    width: 866px;
    padding: 9px 12px;
    height: 17px;
    color: #010101;
    border-bottom: 1px solid #EBEBEB;
    background:#F2F2F2;
    margin-left: -20px;
    line-height: 1;
}
.right li{
    height: 15px;
    padding: 23px 0px;
    border-bottom: 1px dotted #000000;
    background: url('/images/apps/frontend/information_center/disc.png') no-repeat 2px 35px;
    text-indent: 0.3cm;
    line-height: 20px;
}
.postion_left{
    float: left;
    color: #010101;
}
.postion_right{
    float: right;
    color: #010101;
}
.click{
    color:#035AB7;
}
