nav{
  width: 1150px;
  height: 40px;
  background:  #035AB7;
  font-family: "微软雅黑";
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li{ 
  font-weight: bold; 
  float: left; 
  width: 115px; 
  position: relative;
color: #fff;
font-size: 16px;
}

ul.dropdown a:hover{ 
  color: #000; 
}

ul.dropdown li a { 
  display: block; 
  padding: 10px 8px;
  color: #fff; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  height: 20px;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover{ 
  background: #00438C;
  position: relative;
  color: #fff;
  height: 20px;
}


ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000;
}

ul.dropdown ul li { 
  font-weight: normal; 
  background:#FEFCF8; 
  color: #000; 
  border-bottom: 1px dotted #ccc; 
}

ul.dropdown ul li a{ 
  display: block; 
  color: #34495e !important;
  background: #eee !important;
  font-size: 15px;
} 

ul.dropdown ul li a:hover{
  display: block; 
  color: #2666BA !important;
} 

.drop > a{
  position: relative;
}

.drop > a:after{
  content:"";
  position: absolute;
  right: 10px;
  top: 40%;
  z-index: 999;
}

.drop > a:hover:after{
  content:"";
}

